.body {
    background-color: bisque;
}

.bayan {
    max-width: 1100px;
    width: 100%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 4vw;
}

.item {
    border-top: 2px solid gray;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.item__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__text {
    font-size: 2vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item__cross {
    width: 20px;
    height: 20px;
}

.item__meme {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-bottom: 10px;
    display: none;
}

.item:hover .item__meme {
    display: block;
}

.item:focus .item__meme {
    display: block;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}